<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item (click)="processarPedidoMatricula(turma)" *ngFor="let turma of currentTurmas">
      <h2>{{turma.disciplina.nome + '-' + turma.codigo}}</h2>
      <p>{{turma.disciplina.codigo}}</p>
      <p *ngFor="let professores of turma.professores">{{'Professor: ' + professores.nome}}</p>
      <p *ngFor="let dataHora of turma.horariosAula">{{dataHora.dia + ' - ' + dataHora.hora}}</p>
    </button>
  </ion-list>
</ion-content>