<ion-header>

  <ion-navbar>
    <ion-title>{{ matricula.turma.disciplina.codigo }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-detail" padding>
    <h2>{{matricula.turma.disciplina.codigo + '-' + matricula.turma.disciplina.nome + '-' + matricula.turma.codigo}}</h2>
    <p>{{'Professor: ' + matricula.turma.professores[0].nome}}</p>
    <p>{{matricula.turma.horariosAula[0].dia + ' : ' + matricula.turma.horariosAula[0].hora}}</p>
    <p>{{matricula.turma.horariosAula[1].dia + ' : ' + matricula.turma.horariosAula[1].hora}}</p>
    <p>{{'Status: ' + matricula.status}}</p>
  </div>
</ion-content>

<ion-footer>
  <button *ngIf="(matricula.status == 'PreMatricula' || matricula.status == 'Confirmado')" ion-button icon-left color="danger" (click)="alterarStatus('Retirado')">
    <ion-icon name="close-circle"></ion-icon>
    {{'DELETE_BUTTON' | translate}}
  </button>
  <button *ngIf="(matricula.status == 'PreMatricula' || matricula.status == 'Retirado')" ion-button icon-left color="secondary" (click)="alterarStatus('Confirmado')">
    <ion-icon name="checkmark-circle"></ion-icon>
    {{'CONFIRM_BUTTON' | translate}}
  </button>
</ion-footer>